




@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<!DOCTYPE html>
<html>
<head>
   
    <style>
   h1{
       color:white;
           
   }

   h2 {
       color: white;
            font-size: 18px;
   }

   p {
       color: white;
            font-size: 18px;
   }

       

   </style>

</head>
<body>
    <header>
        <h1>About Us</h1>
       
    </header>
    <main>
        <section class="about-section">
            
            <p>Welcome to MovieCorp, your one-stop shop for all your movie needs. We offer a wide selection of movies in various genres, from the latest blockbusters to timeless classics.</p>
            <p>Our mission is to provide high-quality entertainment to movie enthusiasts of all ages. Whether you're looking for a family-friendly film or a thrilling action-packed adventure, we have something for everyone.</p>
            <p>With our user-friendly website, you can easily browse our extensive movie collection, read detailed descriptions, and even watch trailers before making your selection. We offer convenient rental options and fast delivery to your doorstep.</p>
            <p>At MovieCorp, we value customer satisfaction above all else. Our dedicated team is always ready to assist you with any inquiries or recommendations, ensuring your movie-watching experience is nothing short of exceptional.</p>
            <p>Start exploring our vast movie library today and get ready for an unforgettable movie night with MovieCorp.</p>
        </section>
    </main>


    <footer>
        <p>&copy; 2023 MovieCorp. All rights reserved.</p>
    </footer>
</body>
</html>



















